body
{
  background-image: url("sfondo_ifesif_8.svg");
  background-color: #050133;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  font-family: "Afacad", sans-serif;
  font-size: 2.25rem;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

h1, h2, h3, h4, ul, p
{
  margin: 0rem;
}

p { font-weight: bold; }

div
{
  margin-bottom: 3rem;
}

div.titles
{
  display: flex;
  flex-direction: column;
  text-align:center;
  gap: 0rem;
  font-weight: bold;
}

div.presidents, div.ifesif-video, div.pages, div.ioSoBraBOT
{
  text-align:center;
  gap: 0rem;
}

div.presidents, div.pages
{
  border: solid;
  border-width: 0.25rem;
  border-radius: 2rem;
}

div.pages {
  margin-top: 8rem;
}

ul.presidents, ul.pages
{
  display: inline-block;
  text-align: center;
  column-gap: 3rem;
  list-style-type: none;
  list-style-position: outside;
  padding: 0rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

ul.presidents
{
  column-count: 4;
}

ul.pages
{
  column-count: 3;
}

a
{
  color: white;
  text-decoration: none;
}

table
{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: left;
}

td.P { color: orange; }
td.D { color: green; }
td.C { color: blue; }
td.A { color: red; }

th, td
{
  border-style: none none solid none;
  border-color: white;
  padding-left: 0rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

th
{
  border-width: 0.2rem;
  font-weight: bold;
}

td
{
  border-width: 0.075rem;
  font-size: 1.75rem;
  font-weight: bold;
}

td.ranking_pos
{
  text-align:center;
}

footer
{
  text-align:center;
  font-weight: bold;
}

p.banner
{
  text-align:center;
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 5rem;
}

input {
  width: 60%;
  border: solid;
  border-width: 0.25rem;
  border-radius: 2rem;
  font-family: "Afacad", sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
}

button {
  font-family: "Afacad", sans-serif;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: #050133;
  color: white;
  border: solid;
  cursor: pointer;
}

#ioSoBraBOT_output {
  font-size: 2rem;
}

img.campionati, img.coppe {
  width: 2rem;
  height: 2rem;
}

td.campionati, td.coppe {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  border-style: none none none none;
}
