body
{
  background-image: url("sfondo_ifesif.png");
  background-color: #050133;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Afacad", sans-serif;
  font-size: xx-large;
  color: white;
}

h1, h2, h3, ul
{
  margin: 0rem;
}

div
{
  margin-bottom: 3rem;
}

div.titles
{
  display: flex;
  flex-direction: column;
  text-align:center;
  gap: 0rem;
}

div.presidents, div.ifesif-video
{
  text-align:center;
  gap: 0rem;
}

ul.presidents
{
  display: inline-block;
  text-align: left;
  column-count: 2;
  column-gap: 3rem;
}

a
{
  color: white;
}

table
{
  margin-left: auto;
  margin-right: auto;
}

footer
{
  text-align:center;
}
