body
{
  background-image: url("sfondo_ifesif_8.svg");
  background-color: #050133;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  font-family: "Afacad", sans-serif;
  font-size: 2.25rem;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

h1, h2, h3, h4, ul, p
{
  margin: 0rem;
}

p { font-weight: bold; }

div
{
  margin-bottom: 3rem;
}

div.titles
{
  display: flex;
  flex-direction: column;
  text-align:center;
  gap: 0rem;
}

div.presidents, div.ifesif-video
{
  text-align:center;
  gap: 0rem;
}

div.presidents
{
  border: solid;
  border-width: 0.25rem;
  border-radius: 2rem;
}

ul.presidents
{
  display: inline-block;
  text-align: left;
  column-count: 4;
  column-gap: 3rem;
  list-style-type: none;
  list-style-position: outside;
  padding: 0rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

a
{
  color: white;
  text-decoration: none;
}

table
{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: left;
}

td.P { color: orange; }
td.D { color: green; }
td.C { color: blue; }
td.A { color: red; }

th, td
{
  border-style: none none solid none;
  border-color: white;
  padding-left: 0rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

th
{
  border-width: 0.2rem;
  font-weight: bold;
}

td
{
  border-width: 0.05rem;
  font-size: 1.5rem;
}

footer
{
  text-align:center;
}
