<!DOCTYPE html>
{% extends "layout.html" %} {% block body %}

    <div class="titles">
        <h2>Albo d'oro</h2>
    </div>

    <div>
        <table>
            <tr>
                <th>n.</th>
                <th>Stagione</th>
                <th>Campionato</th>
                <th>Coppa</th>
            </tr>
            {% for w in winners %}
                <tr>
                    <td>{{ w["n"] }}</td>
                    <td>{{ w["Stagione"] }}</td>
                    <td>{{ w["Campionato"] }}</td>
                    <td>{{ w["Coppa"] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <footer>
        <a href="/">Home</a>
    </footer>

{% endblock %}