<!DOCTYPE html>
{% extends "layout.html" %} {% block body %}
    <div class="titles">
        <h1>Il fanta è sempre il fanta</h1>
        <h2>Since 2013</h2>
    </div>
    
    <div class="presidents">
        <h2>Seleziona un presidente:</h2>
        <ul class="presidents">
        {% for pres in presidents %}
            <li>
                <h3><a href="/pres?surname={{pres[0]}}&name={{pres[1]}}">{{pres[0]}} {{pres[1]}}</a></h3>
            </li>
        {% endfor %}
        </ul>
    </div>
    
{% endblock %}