<!DOCTYPE html>
{% extends "layout.html" %} {% block body %}
    <div class="titles">
        <h1>"Il fanta è sempre il fanta"</h1>
        <h2>Since 2013</h2>
    </div>
    
    <div class="presidents">
        <ul class="presidents">
        {% for pres in presidents %}
            <li>
                <h3><a href="/pres?surname={{pres[0]}}&name={{pres[1]}}">{{pres[1][:3]}} {{pres[0][:1]}}.</a></h3>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="ioSoBraBOT">
        <h2>(WORK IN PROGRESS)</h2>
    </div>

    <div class="pages">
        <h3>(work in progress)</h3>
        <ul class="pages">
            <li>
                <h3><a href="/">Storico 8p</a></h3>
                <h3><a href="/hof">Albo</a></h3>
                <h3><a href="/">Storico 6p</a></h3>
            </li>
        </ul>
    </div>
    
{% endblock %}