<!DOCTYPE html>
{% extends "layout.html" %} {% block body %}
    <div class="titles">
        <h1>"Il fanta è sempre il fanta"</h1>
        <h2>Since 2013</h2>
    </div>
    
    <div class="presidents">
        <ul class="presidents">
        {% for pres in presidents %}
            <li>
                <h3><a href="/pres?surname={{pres[0]}}&name={{pres[1]}}">{{pres[1][:3]}} {{pres[0][:1]}}.</a></h3>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="ioSoBraBOT">
        <h3>Chiedi a chi ce capisce:</h3>
        <input id="ioSoBraBOT_input" type="text" />
        <button onclick="send()">Spara</button>
        <p id="ioSoBraBOT_output"></p>

        <script>
            async function send() {
                document.getElementById("ioSoBraBOT_output").textContent = "Damme un attimo che ce penso...";
                const res = await fetch("/ioSoBraBOT", {
                    method: "POST",
                    headers: { "Content-Type": "text/plain" },
                    body: document.getElementById("ioSoBraBOT_input").value
                });
                document.getElementById("ioSoBraBOT_output").textContent = await res.text();
            }
        </script>
    </div>

    <div class="pages">
        <ul class="pages">
            <li>
                <h3><a href="/hof">Albo</a></h3>
                <h3><a href="/history8p">Storico 8p</a></h3>
            </li>
        </ul>
    </div>
    
{% endblock %}