<!DOCTYPE html>
<html lang="it">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Afacad">
        <link rel="stylesheet" href="..\static\css\layout.css" >
        <title>IFESIF</title>
    </head>
    <body>
        <p class="banner"></p>

        {% block body %} {% endblock %}

        <div class="pages">
            <ul class="pages">
                <li>
                    <h3><a href="/">Home</a></h3>
                    <h3><a href="/history8p">Storico 8p</a></h3>
                    <h3><a href="/hof">Albo</a></h3>
                </li>
            </ul>
        </div>
    </body>
</html>