<!DOCTYPE html>
{% extends "layout.html" %} {% block body %}
    <div class="presidents">
        <ul class="presidents">
        {% for pres in presidents %}
            <li>
                <p><a href="/pres?surname={{pres[0]}}&name={{pres[1]}}">{{pres[1][:3]}} {{pres[0][:1]}}.</a><p>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="titles">
        <h2>{{name}} {{surname}}</h2>
        <h3>Budget: {{budget}} cr.</h3>
        <table class="palmares">
            <tr>
                <td class="campionati">
                    {% for n in num_league %}
                        <img src="static/Scudetto.svg" class="campionati">
                    {% endfor %}
                </td>
                <td class="coppe">
                    {% for n in num_cup %}
                        <img src="static/Coccarda_Coppa_Italia.svg" class="coppe">
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>

    <div>
        <table>
            <tr>
                <th>r</th>
                <th>Giocatore</th>
                <th>$</th>
                <th>$</th>
                <th>Stagione</th>
                <th>n.</th>
            </tr>
            {% for c in contracts %}
                <tr>
                    <td class="{% if c['ruolo']=='P' %}P{% elif c['ruolo']=='D' %}D{% elif c['ruolo']=='C' %}C{% elif c['ruolo']=='A' %}A{% endif %}">
                        {{ c["ruolo"] }}
                    </td>
                    <td>{{ c["giocatore"] }}</td>
                    <td>{{ c["prezzo"] }}</td>
                    <td>{{ c["prezzo_rinnovo"] }}</td>
                    <td>{{ c["anno"] -1 }}/{{ c["anno"] }}</td>
                    <td>{{ c["durata"] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <footer>
        <a href="/">Home</a>
    </footer>
    
{% endblock %}