<!DOCTYPE html>
{% extends "layout.html" %} {% block body %}
    <h1 class="textCentered">{{ pres }}: {{ budget }} cr.</h1>

    <table class="tableCentered">
        <tr>
            <th>r</th>
            <th>Giocatore</th>
            <th>$0</th>
            <th>$i</th>
            <th>Stagione</th>
            <th>n.</th>
        </tr>
        {% for c in contracts %}
            <tr>
                <td>{{ c["ruolo"] }}</td>
                <td>{{ c["giocatore"] }}</td>
                <td>{{ c["prezzo"] }}</td>
                <td>{{ c["prezzo_rinnovo"] }}</td>
                <td>{{ c["anno"] -1 }}/{{ c["anno"] }}</td>
                <td>{{ c["durata"] }}</td>
            </tr>
        {% endfor %}
    </table>

    <footer class="textCentered">
        <p></p>
        <a href="/">Home</a>
    </footer>
    
{% endblock %}