<!DOCTYPE html>
{% extends "layout.html" %} {% block body %}
    <h1>{{surname}} {{name}}<br>Budget: {{budget}} cr.</h1>

    <table>
        <tr>
            <th>r</th>
            <th>Giocatore</th>
            <th>$</th>
            <th>$</th>
            <th>Stagione</th>
            <th>n.</th>
        </tr>
        {% for c in contracts %}
            <tr>
                <td>{{ c["ruolo"] }}</td>
                <td>{{ c["giocatore"] }}</td>
                <td>{{ c["prezzo"] }}</td>
                <td>{{ c["prezzo_rinnovo"] }}</td>
                <td>{{ c["anno"] -1 }}/{{ c["anno"] }}</td>
                <td>{{ c["durata"] }}</td>
            </tr>
        {% endfor %}
    </table>

    <footer>
        <p></p>
        <a href="/">Home</a>
    </footer>
    
{% endblock %}